@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --highcharts-background-color: #ffffff;
        --text-color: #000000;
        --accent-color-1: #f0f0f0;
        --accent-color-2: #d0d0d0;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --highcharts-background-color: #000;
        --text-color: #d0d0d0;
        --accent-color-1: #4e4e4e;
        --accent-color-2: #2e2e2e;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    float: none;
    color: var(--text-color);
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid var(--text-color);
    ;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: var(--accent-color-1);
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: var(--accent-color-2);
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.container {
    display: flex;
    flex-direction: column;
    /* Default: stacked */
}

@media (orientation: landscape) {
    .container {
        flex-direction: row;
        /* Side by side */
    }
}

.gragh {
    width: 50%;
    padding: 20px;
    text-align: center;
}

.selected {
    background-color: #66ccff;
    color: black;
}